body.bg {
    font-family: "나눔고딕";
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:#ffffff;
    display: block;
    box-sizing: border-box;
}

.top {
    background-image: url("../img/polygon-art.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 8%;
    margin: 0;
    box-sizing: border-box;

}

.profile {
    position: relative;
    display:block;
    padding: 3% 0;
    text-align: center;
    background-color: rgba(70, 70, 70, 0.5);
    color: #ffffff;
}

.profile_pic {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

img {
    vertical-align: middle;
    width: 150px;
    text-align: center;
}

.content {
    padding: 4px 6%;
    margin: 0 0 10px;
}