html, body, h1, h2, h3, nav, div {
    margin: 0px;
}

nav.SupperBack {
    background-image: url("../img/nav-background.jpg");
    width: 100%;
    height: 100%;
}
nav.SupperBack h1 {
    font-size: 500%;
    text-align: center;
    color: #ffffff;
    padding: 10%;
    text-shadow: 1px 1px #000000;
}

div.port-list>ul>li {
    display: inline-block;
    padding: 0 7.5%;
}

figcaption {
    text-align: center;
}

img {
    width: 150px;
    height: 150px
}

ul{
    text-align: center;
    padding: 0 0;
}